#gSignInWrapper {
  padding: 15px;
  text-align:center;
}
#customBtn {
  display: inline-block;
  background: #dd4b39;
  color: white;
  width: 342px;
  border-radius: 5px;
  white-space: nowrap;
}
#customBtn:hover {
  background: #e74b37;
  cursor: hand;
}
span.label {
  font-weight: bold;
}
span.icon {
  background: url('https://developers.google.com/+/images/branding/btn_red_44.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 44pt;
  height: 44pt;
  border-right: #bb3f30 1px solid;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding-left:50px;
  padding-right:50px;
  font-size: 14pt;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto',arial,sans-serif;
}

#signup-wrapper {
  display: none;
  padding: 15px;
}

.form-control {
  margin-bottom: 25px;
}

.jawbone-wrapper {
  padding: 15px;
}

.signin-step-text {
  text-align: center;
  font-size: 200%;
  margin-bottom: 20px;
}

.fullscreen-blur-pic {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  z-index: -2;
}

.splash-stuff-panel {
  padding: 20px;
  background: black;
}

.sign-up-option {
  margin-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.login-option {
  padding-left: 20px;
  padding-right: 20px;
}

.splash-stuff {
  z-index: 5;
}

.splash-title {
  text-align: center;
  font-size: 1006%;
  color: white;
  margin-top: 100px;
}
